.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-height: 500px;
  border-radius: 6px;
  border: 1px solid #dee4ed;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(21, 29, 40, 0.04);
  padding: 41px;
  gap: 24px;
}

.login-title {
  color: #181e25;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.login-description {
  color: #788ba5;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.992px;
}

.sso-button {
  display: flex;
  padding: 9.01px 118.76px 10px 118.77px;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #dee4ed;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(21, 29, 40, 0.04),
    0px 2px 0px 1px rgba(255, 255, 255, 0.08) inset;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  color: #181e25;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.992px;
}

input {
  width: 100%;
  padding: 11px 13px 12px 13px;
  border-radius: 6px;
  border: 1px solid #dee4ed;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(21, 29, 40, 0.03);
  box-sizing: border-box;
}
